@model Restaurant.ViewModel.UserRoleVM

@{
    ViewData["Title"] = "Assign";
}

<h2>Assign</h2>

<h4>UserRoleVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Assign">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                @Html.DropDownList("Email",
     new SelectList(ViewBag.UserSelectList, "Value", "Text",
                    ViewBag.SelectedUser),
     "Select User",
     new { @id = "userDD", @class = "form-control" })

                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                @Html.DropDownList("Role",
     new SelectList(ViewBag.RoleSelectList, "Value", "Text"),
     "Select Role",
     new { @id = "roleDD", @class = "form-control" })


                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
