
@{
    ViewData["Title"] = "CartEmpty";
}



<div class="row center">
    <div class="col-md-offset-3 col-md-6 col-md-offset-3"><h2 class="text-center">Cart is empty</h2></div>

    </div>
<div class="row btn-margin">

    <div class="col-md-2">
         <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-info">Back to main</a>
    </div>


    </div>

