.myInput {
    border-style: none;

}

    .myInput:hover {
        border-style: none;
    }

    .myInput:focus {
        border-style: none;
    }
    .body{
        color:black;
    }

    /*.bodyBackground{
        background-color:black;*/
    /*}*/

.not-active {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
}
